*
{
    text-decoration: none;
    list-style:none;
    margin:0;
   }
.container
{
    width:1300px;
    height:675px;
    border:1px solid white;
    
   
}


.header
{
    width:1225px;
    height:20px;
    border:1px solid #6c60f3;
    background-color: #6c60f3;
    color:white;
  padding:40px;
    font-size: 30px;
    font-weight: bold;
  
}
#header
{
    cursor:pointer;
    margin-left: -20px;
    display: flex;
    align-items: center;
    gap:15px;
  
}

.sidebar
{
    
   font-size: 20px;
   font-weight: bold;
   width:210px;
   height:577px;
   border-radius:5px #6c60f3;
   background-color: #6c60f3;
   
 
   
   
}
a {
    color: white;
    }
 
.user{
    

    margin-top:-652px;  
    margin-left:212px; 
}
.head{
    width:1045px;
    height:75px;
    background-color: #d4d0f8;
    border:1px solid #d4d0f8;
    margin-left: -2px;
    margin-top: 47px;
}
#head
{
    
    font-size: 25px;
    margin-left:30px;
   margin-top:20px;
   float:left;
   color:black;
}
#link
{
    width:135px;
    height:42px;
    border-radius:6px;
    background-color: #f9860c;
    font-weight: bold;
    text-align: center;
    padding:10px;
    margin-left: 350px;
  border:1px solid #f9860c;
    color:white;
    

}
#linked
{
    width:167px;
    height:42px;
    border-radius:6px;
    background-color: #f9860c;
    font-weight: bold;
    text-align: center;
    padding:10px;
    margin-left: 300px;
   
    border:1px solid #f9860c;
    color:white;
    

}
#Linked
{
margin-top: 25px;
}

.searchbar{
   
    margin-left:700px;
    margin-top:-25px;
}
#searchbar{
    width:250px;
    height:30px;
    border:1px solid grey;
    border-radius:6px;
    
}
.form
{
    width:420px;
    height:300px;
    background-color:  rgb(232, 235, 235);

    margin-left:200px;
    margin-top:80px;
    padding:10px;
}
.btn
{
    width:90px;
    height:30px;
    background-color: #f9860c;
    border:1px solid #f9860c;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left:160px;
}
#btn
{
    width:90px;
    height:30px;
    background-color: #f9860c;
    border:1px solid #f9860c;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left:160px;
    margin-top: 60px;
}
#btnn
{
    width:90px;
    height:30px;
    background-color: #f9860c;
    border:1px solid #f9860c;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left:160px;
    margin-top:70px;
}
.username
{
    color:#666869;
    font-size: 17px;
}
#FirstName
{
    width:250px;
    height:25px;
    margin-left: 55px;
    color:#666869;
    
}
.lastname
{
    color:#666869;
    font-size: 17px;
}
#LastName
{
    width:250px;
    height:25px;
    margin-left: 55px;
    color:#666869;
}
.email
{
    color:#666869;
    font-size: 17px;
}
#Email
{
    width:250px;
    height:25px;
    margin-left: 95px;
    color:#666869;
}
.password
{
    color:#666869;
    font-size: 17px;
}
#Password
{
    width:250px;
    height:25px;
    margin-left: 65px;
    color:#666869;
    
}
.confirm-password
{
    color:#666869;
    font-size: 17px;
}
#ConfirmPassword
{
    width:250px;
    height:25px;
    color:#666869;
    
}
.complaints{
    width:968px;
    height:449px;
    border:1px solid rgb(15, 13, 13);
    margin-top:-452px;  
    margin-left:212px; 
}
.headline
{
    color:#666869;
}
.message
{
    color:#666869;
}
.status
{
    color:#666869;
}
#headline
{
    width:246px;
    height:25px;
    margin-left: 39px;
    color:#666869;
    
}
#message
{
 width:245px;
    height:65px;
    margin-left: 110px;
    margin-top: -20px;
    color:#666869;
    
    
}
#status
{
    width:250px;
    height:30px;
    margin-left: 60px;
    color:#666869;
}
.comments{
    width:968px;
    height:449px;
    border:1px solid rgb(15, 13, 13);
    margin-top:-452px;  
    margin-left:212px; 
}
.Comment
{
    color:#666869;
    margin-top: 30px;  
}
#Comment
{
 width:285px;
        height:145px;
        margin-left: 100px;
        margin-top: -20px;
        color:#666869;
}

.staff{
    width:968px;
    height:449px;
    border:1px solid rgb(15, 13, 13);
    margin-top:-452px;  
    margin-left:212px; 
}
#bt
{
    width:90px;
    height:30px;
    background-color: #f9860c;
    border:1px solid #f9860c;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left:160px;
    margin-top:12px;
}
#Btnn
{
    width:90px;
    height:30px;
    background-color: #f9860c;
    border:1px solid #f9860c;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left:160px;
    margin-top:12px;
}
#form
{
    width:420px;
    height:350px;
    background-color:  rgb(232, 235, 235);
margin-left:200px;
    margin-top:70px;
    padding:10px;
}
#Form
{
    width:420px;
    height:420px;
    background-color:  rgb(232, 235, 235);

    margin-left:200px;
    margin-top:80px;
    padding:10px;
}
.Form
{
    width:440px;
    height:640px;
    background-color:  rgb(232, 235, 235);

    margin-left:200px;
    margin-top:30px;
    padding:10px;
}
.from
{
    width:420px;
    height:520px;
    background-color:  rgb(232, 235, 235);

    margin-left:200px;
    margin-top:40px;
    padding:10px;
}

.name
{
    color:#666869;
}
#Position
{
    width:250px;
    height:25px;
    margin-left: 65px;
    color:#666869;
    
}
.position
{
    color:#666869;
}
#DateJoin
{
    width:250px;
    height:25px;
    margin-left: 58px;
    color:#666869;
    
}
.datejoin
{
    color:#666869;
}
#Statuss
{
    width:250px;
    height:33px;
    margin-left: 79px;
    color:#666869;
    
}
.statuss
{
    color:#666869;
}
#Introduction
{
    width:245px;
    height:65px;
    margin-left: 129px;
    margin-top: -20px;
    color:#666869;
    
    
}
.introduction
{
    color:#666869;
    
}

.event
{
    width:968px;
    height:449px;
    border:1px solid rgb(15, 13, 13);
    margin-top:-452px;  
    margin-left:212px;  
}
.Headline
{
    color:#666869;
}
#Headline
{
    width:250px;
    height:25px;
    margin-left: 30px;
    color:#666869;
}
.Title
{
    color:#666869;
}
#Title
{
    width:245px;
    height:25px;
    margin-left: 65px;
    color:#666869;
}
.Message
{
    color:#666869;
}
#Message
{
    width:245px;
    height:25px;
    margin-left: 35px;
    color:#666869;
}
.Venue
{
    color:#666869;
}
#Venue
{
    width:245px;
    height:25px;
    margin-left: 55px;
    color:#666869;
}

#Date
{
    width:247px;
    height:25px;
    margin-left: 65px;
    color:#666869;
}
.Date
{
    color:#666869; 
}
.Content
{
    color:#666869;
}
#Content
{
    width:245px;
    height:65px;
    margin-left: 107px;
    margin-top: -10px;
    color:#666869;
}
.loan{
    width:968px;
    height:449px;
    border:1px solid rgb(15, 13, 13);
    margin-top:-452px;  
    margin-left:212px;  
}
#Applicant
{
    width:245px;
    height:25px;
    margin-left: 35px;
    color:#666869;
}
.applicant
{
    color:#666869;
}
.identification
{
    color:#666869;
}
.address
{
    color:#666869;
}
.street
{
    color:#666869;
}
.House
{
    color:#666869;
}
.marrital
{
    color:#666869;
}
#Identifications

{
    width:250px;
    height:25px;
    margin-left: 30px;
    color:#666869;
}

#Street
{
    width:245px;
    height:25px;
    margin-left:105px;
    color:#666869;
}
#House
{
    width:255px;
    height:32px;
    margin-left:100px;
    color:#666869;
}
#Marritalstatus
{
    width:255px;
    height:32px;
    margin-left:42px;
    
    color:#666869;
}
#MarritalStatus
{
    width:255px;
    height:32px;
    margin-left:20px;
    
    color:#666869;
}
.loantype
{
    color:#666869; 
   

}
#loantype
{
    margin:10px;
    color:#666869;

}
#Loantype
{
    width:300px;
    height:30px;
    margin-left:140px;
    margin-top:-25px;
}
#SecurityDetails
{
    width:300px;
    height:30px;
    margin-left:145px;
    margin-top:-25px;
}
#Approval
{
    width:300px;
    height:30px;
    margin-left:145px;
    margin-top:-25px;
}
#Loanstatus
{
    width:300px;
    height:30px;
    margin-left:145px;
    margin-top:-20px;
}
#PaymentPeriod
{
    width:300px;
    height:30px;
    margin-left:145px;
    margin-top:-25px;
}
.security
{
    color:#666869; 
}
#security
{
    margin:5px;
    color:#666869;
}
.approval
{
    color:#666869; 
}
#approval
{
    margin:5px;
    color:#666869;
}
.loanstatus

{
    color:#666869; 
}
#loanstatus
{
    margin:5px;
    color:#666869;
}
.paymentperiod

{
    color:#666869; 
}
#paymentperiod
{
    margin:5px;
    color:#666869;
}
#Dates
{
    width:250px;
    height:28px;
    margin-left:110px;
    color:#666869;
    
}
.dat
{
    color:#666869;
}
#Btn
{
    width:90px;
    height:30px;
    background-color: #f9860c;
    border:1px solid #f9860c;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left:170px;
}
.member
{
    width:968px;
    height:449px;
    border:1px solid rgb(15, 13, 13);
    margin-top:-452px;  
    margin-left:212px;  
}
#Name
{
    width:250px;
    height:25px;
    margin-left: 80px;
    color:#666869;
    
}
.Name
{
    color:#666869;
}
#Identification
{
    width:245px;
    height:25px;
    margin-left: 55px;
    color:#666869;
    
}
.Identification
{
    color:#666869;
}
#date{
    width:250px;
    height:28px;
    margin-left: 90px;
    color:#666869;
}
.da{
    color:#666869; 
}
#Datejoin{
    width:250px;
    height:28px;
    margin-left: 65px;
    color:#666869;
}
.Datejoin{
    color:#666869; 
}
#Address
{
    width:245px;
    height:25px;
    margin-left: 90px;
    color:#666869; 
}
#Addres
{
    width:250px;
    height:25px;
    margin-left: 65px;
    color:#666869; 
}
.Address
{
    color:#666869;
}#Town
{
    width:250px;
    height:25px;
    margin-left:85px;
    color:#666869;
}
.Town
{
    color:#666869;
}

.Marritalstatus
{
    color:#666869;
}
#Status
{
    width:250px;
    height:25px;
    margin-left: 81px;
    color:#666869;
}
.Status
{
    color:#666869;
}
.gender
{
    
    color:#666869;
}
#Gender
{
    
   margin:5px;
   color:#666869;
}
.Type{
    width:300px;
    height:30px;
    margin-left:125px;
    margin-top:-25px;
}
#box
{
    width:200px;
    height:160px;
    margin:16px;
    float:left;
    font-size:18px;
    padding:5px;
}
span{
    color:#686565;
}
h4{
    display:flex;
    align-items: center;
    padding: 0px 20px;
    gap:40px;
    margin-top: -30px;
    margin-left: 15px;
    color: white;
}
.sidebar  li:hover{
background-color: black;
color: black;
cursor: pointer;
}
@media screen and (min-width:768px) {
 .navCollapse
 {
    width:80px;
 } 
 .navCollapse li h4
 {
    display:none;
 } 
 .navCollapse li  
 {
    padding:2px;
 } 
    
}


.userlist{
    width: 350px;
    height:250px;
    font-size: 17px;
    margin-left: 250px;
    margin-top:70px;
    padding-left:50px;
    padding-top:50px;
    background-color:  rgb(232, 235, 235);
    color:#666869;
}
.complaintslist{
    width: 350px;
    height:200px;
    font-size: 17px;
    margin-left: 250px;
    margin-top:70px;
    padding-left:50px;
    padding-top:50px;
    background-color:  rgb(232, 235, 235);
    color:#666869;
}
.commentslist{
    width: 350px;
    height:200px;
    font-size: 17px;
    margin-left: 250px;
    margin-top:70px;
    padding-left:50px;
    padding-top:50px;
    background-color:  rgb(232, 235, 235);
    color:#666869;
}
.stafflist{
    width: 350px;
    height:250px;
    font-size: 17px;
    margin-left: 250px;
    margin-top:70px;
    padding-left:50px;
    padding-top:50px;
    background-color:  rgb(232, 235, 235);
    color:#666869;
}
.eventslist{
    width: 350px;
    height:280px;
    font-size: 17px;
    margin-left: 250px;
    margin-top:70px;
    padding-left:50px;
    padding-top:50px;
    background-color:  rgb(232, 235, 235);
    color:#666869;
}

.loanlist{
    width: 350px;
    height:540px;
    font-size: 17px;
    margin-left: 250px;
    margin-top:70px;
    padding-left:50px;
    padding-top:50px;
    background-color:  rgb(232, 235, 235);
    color:#666869;
}
.memberlist{
    width: 350px;
    height:400px;
    font-size: 17px;
    margin-left: 250px;
    margin-top:70px;
    padding-left:50px;
    padding-top:50px;
    background-color:  rgb(232, 235, 235);
    color:#666869;
}

